#upload-form {
    height: 235px;
}

#restore-dialog {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


#restore-dialog .step {
    display: none;
}


#restore-dialog .step:first-of-type {
    display: block;
}

.restore-dialog-description {
    margin-bottom: 5px;
}


.restore-dialog-title {
    margin-bottom: 7px;
}

#restore-key {
    text-align: center;
}

#restore-key.disabled {
    opacity: 0.5;
}

.restore-key-block {
    font-size: 2.25rem;
    text-align: center;
}

.restore-key-separator {
    margin: 0 10px;
    font-size: 2.25rem;
}