#upload-form {
    height: 235px;
}

#restore-dialog {
    text-align: center;
}


.restore-dialog-description {
    margin-bottom: 5px;
}


.restore-dialog-title {
    margin-bottom: 7px;
}

#restore-key {
    text-align: center;
    margin: 30px 0;
}

#restore-key.disabled {
    opacity: 0.5;
}

.restore-key-block {
    font-size: 2.25rem;
    text-align: center;
}

.restore-key-separator {
    margin: 0 10px;
    font-size: 2.25rem;
}