<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <item parent="/apps/"
          name="passdora"
          icon="fa fa-lock"
    >
        <locale group="sequry/passdora" var="menu.apps.passdora.title"/>
    </item>

    <item parent="/apps/passdora/"
          name="restore"
          icon="fa fa-history"
          require="package/sequry/passdora/bin/js/controls/dialogs/Restore"
    >
        <locale group="sequry/passdora" var="menu.apps.passdora.restore.title"/>
    </item>

    <item parent="/apps/passdora/"
          name="update"
          icon="fa fa-cloud-upload"
          require="package/sequry/passdora/bin/js/controls/dialogs/Update"
    >
        <locale group="sequry/passdora" var="menu.apps.passdora.update.title"/>
    </item>

    <item parent="/apps/passdora/"
          name="status"
          icon="fa fa-heartbeat"
          require="package/sequry/passdora/bin/js/controls/dialogs/Status"
    >
        <locale group="sequry/passdora" var="menu.apps.passdora.status.title"/>
    </item>
</menu>